/* style.css */

/* bodyタグ全体に適用するスタイル */
body {
  background-color: #f0f8ff; /* 背景色を薄い青色にする */
}

/* h1タグすべてに適用するスタイル */
h1 {
  color: #000080; /* 文字色を紺色にする */
  border-bottom: 2px solid #000080; /* 下に紺色の実線を引く */
}

/* pタグすべてに適用するスタイル */
p {
  color: #333333; /* 文字色を濃い灰色にする */
}